// main home

.main-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}
.main-title-back {
  text-align: center;
  margin: auto auto;
  justify-content: center;
  position: relative;
  color: var(--cream);
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 250px;
}

.scroll {
  position: absolute;
  top: 90%;
  left: 50%;
  font-family: 'Raleway', sans-serif;
  color: var(--cream)
}
