
.nice {
  display: flex;
}

.nice-to-meet {
  padding-top: 350px;
  width: 600%;
  font-family: 'Raleway', sans-serif;
  color: white;
  z-index: 1;
  position: absolute;
  top: 50%;
  left:50px;
  background: 0;
  font-size: 360px;

}
.black-feature {
  margin-top: 200px;
  z-index: -1;
  position: absolute;
  top: 100%;
  left: 0px;
  background: black;
  width: 220%;
  height: 420px;
  transform: rotate(-2deg);
}
