<div class="section-4">
<div class="cream-feature"></div>
<div class="what-i-do">
  <div class="what-i-do-title">
<h1>What I do</h1>
  </div>
  <div class="what-i-do-info">
  <div class="app-web-title">
<h2>App and Web Design</h2>
</div>
<div class="what-i-do-details">
<p>In 2021, businesses need to be online. Your customers are searching for you, and you need a striking website to add credibility and seal the deal. But with so many platforms it can be a nightmare knowing where to start.
<br>
That’s why I have a job!
<br>
Working with a developer allows you to leave the tech and design to a pro. Let’s talk about what you need and together create a website that simply delivers.
<br>
robert_colvin@me.com</p>
</div>
</div>
</div>
</div>
