<div id="container">
  <iframe src='https://my.spline.design/untitled-e36b607f92f1f28403028da4b48298e2/' frameborder='0' width='100%' height='120%'></iframe>
</div>
<div>
  <h1 class="title">About me </h1>
</div>


  <%= image_tag("headshot", id: "headshot") %>
