// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  background: white;
}
#container {
  width: 100vw;
  height: 100vh;
  // padding-right: 27%;
}

#headshot{
  max-width: 30%;
  max-height: auto;
}
